
@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    double totalPrice = 0;
}


<main>
    <section id="checkout">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-xs-12 user-col">
                    <div class="user-info">
                        <h1>Shipping Address</h1>
                        <form action="" method="post">
                            <div class="fieldset">
                                <label asp-for="FullName">Full Name*</label>
                                <input asp-for="FullName" type="text" placeholder="Full Name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="fieldset">
                                <label asp-for="City">Town/City*</label>
                                <input asp-for="City" type="text" placeholder="Town/City">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="fieldset">
                                <label asp-for="Address">Address*</label>
                                <input asp-for="Address" type="text" placeholder="Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="name-surname">
                                <div class="fieldset">
                                    <label asp-for="Email">Email Address*</label>
                                    <input asp-for="Email" type="email" placeholder="Email Address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="fieldset">
                                    <label asp-for="Phone">Phone no*</label>
                                    <input asp-for="Phone" placeholder="Phone number">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="fieldset">
                                <label asp-for="ZipCode">Zip Code*</label>
                                <input asp-for="ZipCode" type="text" placeholder="Zip Code">
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <button class="button button-secondary order" type="submit">Place Order</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="user-order">
                        @foreach (var item in Model.BasketItemViewModels)
                         {
                            double price = item.Count * item.Price;
                            totalPrice += price;
                            <div class="order-item">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="~/uploads/product/@item.Image" alt="">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="order-item-info">
                                                <div class="count-name">
                                                    <span>@item.Count</span>X <span>@item.Name</span>
                                                    <span>@item.ColorName</span>

                                                </div>
                                                <p>$@price</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         }
                        <div class="total-price">
                            <h2>Order total</h2>
                            <p>$@totalPrice</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


